extend layout
block content
    script.
    script(src='https://maps.googleapis.com/maps/api/js?callback=initMiniMap', async='', defer='')
    script(type='text/javascript', src='../javascripts/make_image_map_tiles.js')

    title=title
    .col-md-4
        p()#hidden_city_id #{City._id}
        table(style='border-collapse: collapse', border='3', cellspacing='6', cellpadding='6')
            tr
                td(align='center', colspan='4')#city_name #{City.city_name}
                    p
                        if(user.local.isAdmin == true)
                            span.glyphicon.glyphicon-edit#edit_city_name

            tr
                td(colspan='4', align='center') City Location
            tr
                td(align='center') Latitude:
                td.lat_insert #{City.lat}
                td(align='center') Longitude:
                td.lng_insert #{City.lng}
            tr
                td(colspan='2') Population :
                td(colspan='2')#city_pop #{City.population}
                    if(user.local.isAdmin == true)
                        span.glyphicon.glyphicon-edit#edit_city_pop
            tr
                td(colspan=2) Government Type :#{City.govtype}
                td(colspan=2) Alignment: #{City.gov_alignment}
            tr
                td(colspan='4')
                    | Government People
                    table(style='border-collapse: collapse', border='3', cellspacing='6', cellpadding='6')
                        thead
                            tr
                                th.table_head Name
                                th.table_head Level
                                tbody
                            each npc_name in City.gov_npcs
                                each npc in NPCs
                                    if npc.name==npc_name
                                        tr
                                            td.npc_name
                                                a(href='/one_npc/:#{npc.name}') <strong> #{npc.name}
                                            td #{npc.level}
            tr
                td(colspan=4)
                    div#mini_map
            tr
                td(colspan='4')#city_desc #{City.city_description}
                    if(user.local.isAdmin == true)
                        span.glyphicon.glyphicon-edit#edit_city_desc


    .col-md-4
        table.table.table-condensed(style='border-collapse: collapse', border='3', cellspacing='6', cellpadding='6')
            tr
                td(colspan='4', align='center') Local Shops
            tr
                td(colspan='2')
                    h4 <strong> General Stores </strong>
                    table
                        each shop in Shops
                            if shop.shop_type=='gen_store'
                                tr
                                    td.shop_name
                                        a(href='/shop') #{shop.shopName}
                td(colspan='2')
                    h4 <strong> Taverns and Speciality Shops </strong>
                        table
                            each shop in Shops
                                if shop.shop_type == 'tavern_or_other'
                                    tr
                                        td.shop_name
                                            a(href='/shop') #{shop.shopName}
            tr
                td(colspan='2')
                    h4 <strong> Magic Item Shops </strong>

                        table
                            each shop in Shops
                                if shop.shop_type == 'magic_item_shop'
                                    tr
                                        td.shop_name
                                            a(href='/shop') #{shop.shopName}
                td(colspan='2')
                    h4 <strong> Weapons and Armor </strong>

                        table
                            each shop in Shops
                                if shop.shop_type == 'wep_armor_shop'
                                    tr
                                        td.shop_name
                                            a(href='/shop') #{shop.shopName}
    .col-md-4
        table.table.table-condensed(style='border-collapse: collapse', border='3', cellspacing='6', cellpadding='6')
            tr.accordian-toggle(data-toggle='collapse', data-target='#demo1')
                td(colspan='2')
                    | The Guard
                    table
                        tr
                            td(colspan=2)
                                a(href='/one_npc/:#{City.sherrif_or_captain}') #{City.sherrif_or_captain}
                        tr
                            td Guards:
                            td#guard_numbers #{City.city_guards}
                                if(user.local.isAdmin == true)
                                    span.glyphicon.glyphicon-edit#edit_city_guard
                        tr
                            td Militia:
                            td#militia_numbers #{City.city_militia}
                                if(user.local.isAdmin == true)
                                    span.glyphicon.glyphicon-edit#edit_city_militia
                td(colspan='2')
                    | Notable Spellcasters
                    table(style='border-collapse: collapse', border='3', cellspacing='6', cellpadding='6')
                        thead
                            tr
                                th.table_head Name
                                th.table_head Level
                                th.table_head Class
                                tbody
                            each npc_name in City.casters
                                each npc in NPCs
                                    if npc.name==npc_name
                                        tr
                                            td.npc_name
                                                a(href='/one_npc/:#{npc.name}') <strong> #{npc.name}
                                            td #{npc.level}
                                            td #{npc.class}
            tr
                td(colspan='2')
                    | Imports
                    ul
                        for imports in City.major_imports
                            li #{imports}

                td(colspan='2')
                    | Exports
                    ul
                        for exports in City.major_exports
                            li #{exports}

    script.
        $(document).ready(function () {

            $('#edit_city_name').click(function () {

                var input = $("<input id='newName' placeholder='City Name' type='text'></input>")
                $(input).insertAfter((this));
                var instructions = $("<i>Press Enter to save this data</i>")
                instructions.insertAfter(input)

                input.keypress(function (event) {
                    if (event.which == 13) {
                        var city_id = $("p#hidden_city_id").text();
                        var newName = $(this).val();
                        //var city_name = $("#city_name").text();
                        console.log(city_name)
                        var data = {"_id": city_id, "city_name": newName}
                        var url = '/data/update_city_name'
                        $.ajax(
                                {
                                    "method": "put",
                                    "data": data,
                                    'url': url
                                }).done(function (result) {
                            $("#city_name").text(result.city_name);
                        }).fail(function () {
                            console.log('error when updating age')
                        });
                        input.remove();
                        //instructions.remove();
                    }
                })
                input.keyup(function (event) {
                    if (event.which == 27) {
                        $(this).remove();
                        //instructions.remove();

                    }
                })
            })
            $('#edit_city_pop').click(function () {
                var input = $("<input id='newPop' placeholder='City Pop' type='number' min='1' max='100000'></input>")
                $(input).insertAfter((this));
                var instructions = $("<i>Press Enter to save this data</i>")
                instructions.insertAfter(input)

                input.keypress(function (event) {
                    if (event.which == 13) {
                        var newpop = $(this).val();
                        var city_name = $("#city_name").text();
                        var data = {"city_name": city_name, "population": newpop}
                        var url = '/data/update_city_pop'
                        $.ajax(
                                {
                                    "method": "put",
                                    "data": data,
                                    'url': url
                                }).done(function (result) {
                            $("#city_pop").text(result.age);
                        }).fail(function () {
                            console.log('error when updating age')
                        });
                        input.remove();
                        instructions.remove();
                    }
                })
                input.keyup(function (event) {
                    if (event.which == 27) {
                        $(this).remove();
                        instructions.remove();

                    }
                })
            })
            $('#edit_city_guard').click(function () {
                var input = $("<input id='newGuard' placeholder='Guards' type='number' min='1' max='10000'></input>")
                $(input).insertAfter((this));
                var instructions = $("<i>Press Enter to save this data</i>")
                instructions.insertAfter(input)

                input.keypress(function (event) {
                    if (event.which == 13) {
                        var newGuard= $(this).val();
                        var city_name = $("#city_name").text();
                        var data = {"city_name": city_name, "city_guard": newGuard}
                        var url = '/data/update_city_guard'
                        $.ajax(
                                {
                                    "method": "put",
                                    "data": data,
                                    'url': url
                                }).done(function (result) {
                            $("#city_guard").text(result.city_guard);
                        }).fail(function () {
                            console.log('error when updating age')
                        });
                        input.remove();
                        instructions.remove();
                    }
                })
                input.keyup(function (event) {
                    if (event.which == 27) {
                        $(this).remove();
                        instructions.remove();

                    }
                })
            })
            $('#edit_city_militia').click(function () {
                var input = $("<input id='newMilitia' placeholder='Militia' type='number' min='1' max='10000'></input>")
                $(input).insertAfter((this));
                var instructions = $("<i>Press Enter to save this data</i>")
                instructions.insertAfter(input)

                input.keypress(function (event) {
                    if (event.which == 13) {
                        var newMilitia = $(this).val();
                        var city_name = $("#city_name").text();
                        var data = {"city_name": city_name, "city_militia": newMilitia}
                        var url = '/data/update_city_guard'
                        $.ajax(
                                {
                                    "method": "put",
                                    "data": data,
                                    'url': url
                                }).done(function (result) {
                            $("#city_militia").text(result.city_militia);
                        }).fail(function () {
                            console.log('error when updating age')
                        });
                        input.remove();
                        instructions.remove();
                    }
                })
                input.keyup(function (event) {
                    if (event.which == 27) {
                        $(this).remove();
                        instructions.remove();

                    }
                })
            })
        });

